<!DOCTYPE html>
<html>
    <head>
      
        <title>{{myname}}</title> 
 {%include 'bootstrap.html'%}     
      
    </head>
<body >
  <div class="container">
  <h1> <p class="text-center">      Reem projects 2023/2024      </h1>
   {%include "banner.html"%}
   <h2><p class="text-center">About Reem project in (NITA) Academy</h2>
  <p>On this website I will put all the projects that I worked on throughout the duration of my studies at the National Information Technology Academy (NITA) from 3/9/2023 until now in the field of artificial intelligence.</p>
  <h2><p class="text-center mt-2 mb-4""> reem ppp</h2>
  <div>
   {%for item in myskills %}
    {%include'myProjects.html'%}
    {%endfor%}
  </div>
  <div class="text-center">
    <a href="/contacus" type="button" class="btn btn-secondary">Details</a>
    <p> copy right,{{myname}}</p>
  </div>
    </div>
</body>
</html>